.main{
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'Samarkan';
    src: url('./source/SAMAN___.TTF') format('truetype');
  }

  .links{

    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-top: 20px;


    font-size: 30px;
    color: rgb(243, 248, 248);
    font-weight: bold;
    text-decoration: none;

    text-shadow: 0 0 6px rgb(236, 236, 244); 
               
  }
  